.login-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-container h5{
  color: white
}

.loginHeader, .login-form, .register-form {
	color: white;
	margin-top: 30px;
}

form {
	margin: 10px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	max-width: 400px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
	border: 1px solid #ccc;
}



.toggle-button {
	margin-top: 10px;
	cursor: pointer;
}


.submit-button {
  background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 3px;
	padding: 10px;
	cursor: pointer;
	margin-top: 1%
}

.submit-button:hoover{
  background-color: #0069d9;
}

.login-change-button{
  background-color: #c9ada7;
	color: #fff;
	border: none;
	border-radius: 3px;
	padding: 10px;
	cursor: pointer;
  margin: 1%
}